@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #121212;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/*
Another way to apply theme

body[data-theme="light"] {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

body[data-theme="dark"] {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

  useEffect(() => {
    document.body.setAttribute("data-theme", darkMode);
  }, [darkMode]);
*/
